.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 2rem;
}

mat-card {
  aspect-ratio: 1 / 1.5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  &:hover {
    cursor: pointer;
    transform: translateY(-0.5rem);
    transition: transform 0.2s;
  }
  transition: transform 0.2s;
}
